/*
* Casablanca project  Section Eight
*/

.s-section-eight {
  background-color: #000;
  margin: 1em auto;
  padding: 0;

  video {
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
  }
}

