/**
 * Casablanca project  grid
 */

.l-full-width {
  @include make-container();
}

.l-80-width {
  @include make-container();
    width: 80vw;
}

.l-row {
  @include make-row();
}
.l-col {
  @include make-col-ready();
  @include media-breakpoint-up(xs) {
    @include make-col(8);
  }
  background: #fcf8e3;
}
.l-side {
  @include make-col-ready();
  @include media-breakpoint-up(xs) {
    @include make-col(4);
  }
  background: #c3e6cb;
}
.l-block-list{
  padding: 0;
  margin: 0;
  li{
    display: block;
  }
}


// image component layout

.l-img-component {
  @include make-col-ready;
  @include media-breakpoint-up(xs) {
    @include make-col(12);}
  @include media-breakpoint-up(md){
    @include make-col(6);  }
  @include media-breakpoint-up(lg){
    @include make-col(3);
  }

  }
