/*
*Casablanca section seven
*/

.s-section-seven {
  margin-bottom: 4em;
 .component-one {
   .component-one__text {
     margin-bottom: 5em;
     margin-top: 4em;
   }
   .component-one__s-ul {
     margin-top: 6em;
   }
 }
}