/*
* Casablanca button compone
*/

.s-btn {
  div.s-btn__row {
    justify-content: center;
    height: 60vh;
    .s-section-four & {
      height: 20vh;
    }

    div.s-btn__row__wrap {
      align-self: center;
      text-align: center;
    }
  }
  .s-my_btn {
    width: 35vw;
    height: 18vh;
    padding: 0.2em;
    background-color: transparent;
    font-size: 1.5em;
    color:white;
    border: 1px solid white;
    border-radius: 5px;
    &:hover {
      color: black;
      background-color: white;
    }
    @include media-breakpoint-up(xs) {
      width: 80vw;
    @include media-breakpoint-up(md) {
       width: 35vw;
     }
    }
.s-section-three & {

}
.s-section-four & {
  color: #000000;
  border: 1px solid #000000;
  height: 10vh;
  &:hover {
    background-color: #000;
    color: #fff;
  }

}

.s-section-five & {

}



  }
}
