/**
 * Casablanca componet one scss
 */

.component-one {

  .component-one__all {
    justify-content: center;
    text-align: center;

    .component-one__text {
      align-self: center;
      h2 {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1.7em;
      }
      .line {
        width: 100px;
        margin: 0 auto;
        hr {
          border: 1px solid black;
          margin: 2em auto;
        }
      }
    }
  }
  .component-one__s-ul {
    justify-content: center;
    text-align: center;
    list-style: none;
    padding-left: 0;
    .l-li {
      margin-top: 0.8em;
      @include make-col-ready();
      @include media-breakpoint-up(xs) {
        @include make-col(12);
      }
      @include media-breakpoint-up(md) {
        @include make-col(5);
      }
      @include media-breakpoint-up(lg) {
        @include make-col(3);
      }

    }

  }
//  first section

.s-section-one & {
  .component-one__all{
    height:90vh;
    h2 {
      font-size: 2.5em;
    }
    .line {

      hr {
        border: 1px solid white;
      }
    }
  }
  .component-one__s-ul {
    display: none;
  }
}
// section two
.s-section-two & {
  .component-one__all {
    height: 60vh;
  }
  .component-one__s-ul {
    display: none;
  }
}
//  Section four
.s-section-four &{
  .component-one__all {
    height:30vh;
    p{
      display: none;
    }
  }
  .component-one__s-ul {

    @include  media-breakpoint-up(md) {
      height: 30vh;
    }
  }
}
//  Section six
  .s-section-six & {
    .component-one__all {
      height: 40vh;
      p {
        display: none;
      }
    }
    .component-one__s-ul {
      @include media-breakpoint-up(xs) {
        height: 80vh;
      }
      @include media-breakpoint-up(md) {
        height: 40vh;
      }
      @include media-breakpoint-up(lg) {
        height: 30vh;
      }
      .l-li {
        @include make-col-ready();
        @include media-breakpoint-up(xs) {
          @include make-col(12);
        }
        @include media-breakpoint-up(md) {
          @include make-col(5);
        }
        @include media-breakpoint-up(lg) {
          @include make-col(2);
        }
      }
    }
  }
//  Section seven
  .s-section-seven & {
    .component-one__all {
      height: 40vh;
      p {

      }
    }
    .component-one__s-ul {
      height:auto;

    }
  }

  // Section nine
  .s-section-nine &{
    .component-one__all {
      height: 40vh;
      p {

      }
    }
    .component-one__s-ul {
      height: 50vh;
    }
  }

    //Section eleven
    .s-section-eleven &{
      .component-one__all {
        height: 40vh;
        p {

        }
      }
      .component-one__s-ul {
        display: none;
      }
  }
}