/*
* Casablanca form component
 */

.casa-form {
  .casa-form_form {
    justify-content: center;
    height: 50vh;
    .casa-form_form_input-1 {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid white;
      margin-left: 0.5em;
    }
    .casa-form_form_input-2 {
      @extend .casa-form_form_input-1;
    }
    .casa-form_form_input-3 {
      @extend  .casa-form_form_input-1;
    }
    .casa-form_form_input-4 {
      @extend .casa-form_form_input-1;
      margin: 1em 1em 0 60%;
      border: 1px solid black;
      align-self: flex-start;
    }
  }

}