/*
 * Casablanca img componet scss
 */

.img-component {
  position: relative;
  color: white;
  .img-component_img{
    img {
    }
    .img-hire {
      width: 270px;
      height: 360px;
      border: 2px solid black;
      display: inline-block;
    }
  }
  .img-component_txt {
    position: absolute;
    left: 2em;
    bottom: 1em;
    right: 1em;
    display: none;
  }
.img-component_txt--hire {
  h3 {
    font-family: bigJohn;

  }
  color: black;
  position: absolute;
  top:8em;
  left: 1.5em;
  //bottom: 2em;
  right: 1em;
  .line1 {
    width: 100px;
    margin:0 auto ;
    hr {
      border: 1px solid black;
    }

  }
  button {
    width: 150px;
    height: 3em;
    background-color: transparent;
    border: 2px solid black;
    font-size: 1.5em;

    &:hover {
      color: #fff;
      background-color: black;

    }
  }
}
&:hover .img-component_txt {
  display: block;
  button {
    display: none;
  }
}
}