/*
* Casablanca carousel component
*/

.carousel-indicators {
  position: absolute;
  bottom: -12px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
  color: #36f0ff;
}
.carousel-indicators .active {
  background-color: #e8290a;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #f8ff6f;
  background-color: rgba(181, 192, 187, 0.96);
  border: 1px solid #ff3e0e;
  border-radius: 10px;
}
