/**
 * Casablanca variables override
 */

// Body
//
// Settings for the `<body>` element.

//$primary:               #ff5000;
//
//$font-family-b92:       "Georgia", "Times New Roman", "Times", serif;
//$font-family-base:      $font-family-b92;
//// stylelint-enable value-keyword-case

$font-size-base:         1.25rem; // Assumes the browser default, typically `16px`